Требования к блогу

Функциональные:
Система должна давать возможность пользователю:
1.	Просматривать публикации без регистрации на сайте.
2.	Оставлять комментарии под постами.
Система должна давать возможность Администратору:
1.	Наполнять блог публикациями

Нефункциональные:
1.	 Система должна быть реализована как плагин для интеграции с существующим сайтом
2.	Система должна быть доступной в:
	a.Браузерах:
		i.	Safari (версия 5.0 и выше)
		ii.	Chrome (версия 50.0 и выше)
		iii.	Opera (версия 29 и выше)
		iv.	Mozilla Firefox (версия 45.5.1 и выше)
		v.	Яндекс Браузер (версия 14.0 и выше)
		vi.	Microsoft Edge (версия 33.0 и выше)
	b.Мобильных приложениях на операционной системе:
		i.	Android (версия 4.4 и выше)
		ii.	iOS (версия 7.0 и выше)


