Требования к блогу

Функциональные:
Система должна:
1. Система должна разделять права пользователя и администратора.
2. Прикрепялть дату и время при добавлении публикации.
3. Уведомлять пользователя по почте про ответ на комментарий.

Система должна давать возможность Администратору:
1. Входить в свою учетную запись.
2. Создавать, реактировать, удалять посты.
3. Прикреплять с постам медиа-контент: картинки, файлы, видео, ссылки.
4. Удалять, отвечать на комментарии.

Система должна давать возможность пользователю:
1. Просматривать все публикации на сайте.
2. Просматривать отдельную публикацию.
3. Комментировать публикацию после ввода почты и мени.
4. Отвечать на комментарии после ввода почты и имени.
5. Искать публикации по дате и содержанию.


Нефункциональные:
1.  Система должна быть реализована как плагин для интеграции с существующим сайтом
2.	Система должна быть доступной браузерах:
		i.	 Safari (версия 5.0 и выше)
		ii.	 Chrome (версия 50.0 и выше)
		iii. Opera (версия 29 и выше)
		iv.	 Mozilla Firefox (версия 45.5.1 и выше)
		v.	 Яндекс Браузер (версия 14.0 и выше)
		vi.  Microsoft Edge (версия 33.0 и выше)
3. Система должна быть адаптивной и корректно отображаться на мобильных устройствах с операционными системами:
	i.  Android (версия 4.4 и выше)
	ii.	iOS (версия 7.0 и выше)
